.border{
    position: relative;
    padding: 20px;
    border-radius: 8px;
    background-color: transparent; /* Light transparent background */
    border: 3px solid transparent;
    border-image: linear-gradient(135deg, var(--border-dark-start), var(--border-dark-end)) 1;
    transition: all 1s ease; /* Smooth transition */
}
.dark .border{
    border-image: linear-gradient(135deg, var(--border-light-start), var(--border-light-end)) 1;

}
.tech-stack-item{
    border-radius: 0.375rem;
    border: 3px solid transparent;
    border-image: linear-gradient(135deg,#654321, #123456) 1; 
}

.tech-stack-item:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.demo-link-button {
    display: inline-block;
    border:2px solid;
    border-image: linear-gradient(135deg, var(--border-dark-start), var(--border-dark-end)) 1;
    color: white;
    font-size: 1.125rem; /* text-lg */
    padding: 0.5rem 1rem; /* py-2 px-4 */
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .demo-link-button:hover {
    transform: scale(1.05); /* hover:scale-105 */
    background: linear-gradient(135deg, var(--border-dark-start), var(--border-dark-end));
  }

  .dark .demo-link-button{
    border-image: linear-gradient(135deg, var(--border-light-start), var(--border-light-end)) 1;
  }

  .dark .demo-link-button:hover{
    background: linear-gradient(135deg, var(--border-light-start), var(--border-light-end));

  }

  
