@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    /* background: linear-gradient(#123456,#962929); */
    background:rgba(4, 3, 12, 0.99); 
    /* color: aliceblue; */
    font-family: 'outfit'
}

:root {
    /* Light Mode Border Gradient */
    --border-light-start: yellow;
    --border-light-end: #FF4B2B;
  
    /* Dark Mode Border Gradient */
    --border-dark-start: #654321;
    --border-dark-end: #123456;
  }
  